# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
- Plotting in RStudio
- Branches in Github
- Data Sets

Some of the popular languaged that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
- NumPy
- Pandas
- TensorFlow

| Data Science Tools |
|--------------------|
| Jupyter Notebooks |
| VScode |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [25]:
# This is a simple arithmetic expression multiply then add integers.

(3*4)+5

17

In [31]:
# This will convert 200 to hours by dividing 60.

200/60

3.3333333333333335

## Author
 Trevin